<?xml version='1.0' encoding='utf-8'?>
<widget id="io.polysleep" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PolySleep</name>
    <description>
        Using data to make your sleep disappear
    </description>
    <author email="braun@braunshedd.com" href="http://polysleep.io">
    </author>
    <feature id="org.apache.cordova" required="true" version="1.0.0" />
    <content src="index.html#loginPage" />
    <access origin="*" />
</widget>
