 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 360px;
	 height: 580px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 360px;
	 height: 580px;
	 z-index:1;
} 

 #Rectangle 
{ 
	 left: -1px; 
	 top: 323px; 
	 position: absolute; 
	 width: 362px;
	 height: 260px;
	 z-index:2;
} 

 #menubutton 
{ 
	 left: 320px; 
	 top: 25px; 
	 position: absolute; 
	 width: 19px;
	 height: 14px;
	 z-index:3;
} 

 #backarrow 
{ 
	 left: 27px; 
	 top: 24px; 
	 position: absolute; 
	 width: 17px;
	 height: 15px;
	 z-index:4;
} 

 #Results 
{ 
	 left: 144px; 
	 top: 25px; 
	 position: absolute; 
	 width: 75px;
	 height: 20px;
	 z-index:5;
} 

 #waveform 
{ 
	 left: 2px; 
	 top: 112px; 
	 position: absolute; 
	 width: 370px;
	 height: 155px;
	 z-index:6;
} 
